@import '../../../scss/variables';

//Profile info

.profileInfoSection {
  display: flex;
  justify-content: space-between;
  img {
    width: 200px;
    height: 200px;
    border: 1px solid $border;
    border-radius: 50%;
    margin: 10px;
  }
}

.profileUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $border;
  max-width: 300px;
  height: 400px;
  margin-top: 20px;
  margin-left: 20px;
}

.button {
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  background-color: $background;
  color: $white;
}

.profileStatus {
  display: flex;
  justify-content: space-between;
  background-color: $background;
  padding: 7px;
  font-weight: 500;
  width: 100%;
  color: $white;
}

.statusOnline {
  font-weight: bold;
  text-transform: uppercase;
}

.profileUserInfo {
  width: 1200px;
  height: 400px;
  border: 1px solid $border;
  margin: 20px 20px 0 20px;
}
.userInfo {
  margin: 20px;
  border-bottom: 1px solid $border;
}

// Post

.profilePostSection {
  margin: 20px 20px 0 20px;
}

.profilePostAdd {
  display: flex;
  flex-direction: column;

  input {
    height: 100px;
    border-radius: 10px;
    margin: 20px 0;
    font-size: 16px;
    border: 1px solid $border;
  }
}

.post {
  display: flex;
  margin-top: 20px;
}

.postUser {
  text-align: center;

  img {
    max-width: 70px;
    height: 70px;
  }
}

.postText::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100%;
  display: block;
  width: 20px;
  height: 20px;
  background: radial-gradient(40px at top left, transparent 50%, rgba(233, 233, 233, 1.2) 0) no-repeat right bottom;
}

.postText {
  width: 100%;
  position: relative;
  background-color: #e9e9e9;
  border-radius: 10px 10px 10px 0;
  margin-left: 15px;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}

.removeBtn {
  border: none;
  background-color:$white;
  svg {
    font-size: 20px;
  }
}
