@import '../../scss/variables';

ul {
  display: flex;
}

svg {
  display: block;
}

text {
  display: block;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin: 10px
}

.active {
  color: $grey__black;
}

li {
  margin-right: 15px;
}

li:last-child {
  margin-right: 0;
}

li:hover {
  background: #4c9cee;
  border-radius: 5px;
}
