@import './variables';
@import './normalize';

._container {
  margin: 0 auto;
  max-width: 1400px;
}

body {
  background-color: $grey;
}

.app {
  .app__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $white;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #928c8c;
  }

  .app__header-title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $blue;

    h3 {
      margin-left: 10px;
      font-size: 25px;
    }

    svg {
      font-size: 25px;
    }
  }

  .app__nav {
    display: flex;
    flex-direction: column;
    background: $white;
    height: 100%;
    min-height: 100vh;
    margin-right: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #928c8c;

    li {
      display: flex;
      align-items: center;
    }

    li:hover {
      background-color: $hover;
      border-radius: 5px;
      transition: 0.3s;
    }

    svg {
      font-size: 16px;
      margin-right: 5px;
      margin-left: 5px;
    }

    a {
      color: $text;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 1.2px;
      width: 100%;
      padding: 10px;
    }

    a:hover {
      color: $blue;
    }
  }

  .app__content {
    display: flex;
  }

  .app__content-main {
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #928c8c;
  }

}